@model Rent

<form method="post">
	<input asp-for="Id" hidden/>
	<div class="border pt-3 mt-5">
		<div class="row pb-3">
			<h2 class="text-primary">Kitap Kiralama Silme</h2>
		</div>
		<div class="mb-3">
			<label asp-for="studentId" class="p-0"></label>
			<input asp-for="studentId" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="BookId" class="p-0"></label>
			<select asp-for="BookId" asp-items="ViewBag.BookList" disabled class="form-control"></select>
		</div>
		<button type="submit" class="btn btn-dark">Kitap Kiralama Sil</button>
		<a asp-controller="Rent" asp-action="Index" class="btn btn-dark">Geri</a>
	</div>
</form>