@{
    ViewData["Title"] = "İletişim";
}
<div class="container">
    <h1 class="mt-5 text-center mx-auto">@ViewData["Title"]</h1>
    <div class="row mt-5 ">
        <a class="btn btn-danger p-3 col-lg-4 mx-auto my-2" style="width:300px" href="mailto:ozencdurur96@gmail.com">ozencdurur96@gmail.com</a>
        <a class="btn btn-primary p-3 col-lg-4 mx-auto my-2" style="width:300px" href="https://www.linkedin.com/in/ozencdurur" target="_blank">Linkedin</a>
        <a class="btn btn-dark p-3 col-lg-4 mx-auto my-2" style="width: 300px" href="https://www.github.com/ozencdurur" target="_blank">Github</a>
    </div>
</div>


