@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4 mt-5">Book Store</h1>
    <br />
    <p><img style="width: 45%" src="/img/pexels-polona-mitar-osolnik-1837726.jpg" /></p>
</div>
